/* RGB */
$teal: rgba(25, 115, 106, 1);
$yellow: rgba(255, 175, 135, 1);
$orange: rgba(255, 142, 114, 1);
$salmon: rgba(237, 106, 94, 1);
$lightgreen: rgba(76, 224, 179, 1);

$quicksand: 'Quicksand', sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;
$pacifico: 'Pacifico', cursive;